@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Jura:wght@700&display=swap');

form {
    width: 30vw;
    height: 32vw;
    /* border: 2px solid rgba(0, 0, 0, 0.25); */
    position: absolute;
    top: 50%;
    margin-top: -16vw;
    left: 50%;
    margin-left: -15vw;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

form > h1 > strong {
    color: #9AEDFF;
}
